GLFW_ICON ICON "rexm.ico"

1 VERSIONINFO
FILEVERSION     1,0,0,0
PRODUCTVERSION  1,0,0,0
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    //BLOCK "080904E4"     // English UK
    BLOCK "040904E4"    // English US
    BEGIN
      VALUE "CompanyName", "Ramon Santamaria"
      VALUE "FileDescription", "rexm | raylib examples manager"
      VALUE "FileVersion", "1.0"
      VALUE "InternalName", "rexm"
      VALUE "LegalCopyright", "(c) 2025 Ramon Santamaria"
      //VALUE "OriginalFilename", "rexm.exe"
      VALUE "rexm", "rexm"
      VALUE "ProductVersion", "1.0"
    END
  END
  BLOCK "VarFileInfo"
  BEGIN
    //VALUE "Translation", 0x809, 1252    // English UK
    VALUE "Translation", 0x409, 1252    // English US
  END
END
