BasedOnStyle: Microsoft
AlignConsecutiveMacros: AcrossEmptyLinesAndComments
AlignEscapedNewlines: Left
AlignTrailingComments: true
AllowShortBlocksOnASingleLine: Always
AllowShortCaseLabelsOnASingleLine: true
AllowShortFunctionsOnASingleLine: All
AllowShortIfStatementsOnASingleLine: AllIfsAndElse
AlwaysBreakAfterReturnType: None
ColumnLimit: 320
IndentWidth: 4
PointerAlignment: Right
SpaceInEmptyParentheses: false
SpacesInCStyleCastParentheses: false
TabWidth: 4
UseTab: Never
IndentPPDirectives: BeforeHash
AlignConsecutiveAssignments: Consecutive
BraceWrapping:
  AfterEnum: false
BreakFunctionDefinitionParameters: false
Cpp11BracedListStyle: false
IndentCaseLabels: false
MaxEmptyLinesToKeep: 2
# ReflowComments: true
SpaceAfterCStyleCast: false
SpaceAfterLogicalNot: false
SpacesBeforeTrailingComments: 1
