#container .mix{ position: relative;  display: none; }
#container .extext { top: 160px!important; width: 400px!important; }

#filter_menu { width: 820px; height: 80px; margin-left: 18px; }

.legendButton { padding:5px 15px; float:left; margin-left:10px; margin-right:10px; margin-bottom: 20px; }
#core { cursor:pointer; background-color:#e1e1e1; color:#5c5a5a; border:3px solid #898888; }
#shapes { cursor:pointer; background-color:#f0d6d6; color:#c55757; border:3px solid #e66666; }
#textures { cursor:pointer; background-color:#c8eabf; color:#60815a; border:3px solid #75a06d; }
#text { cursor:pointer; background-color:#bef0dd; color:#377764; border:3px solid #52b296; }
#models { cursor:pointer; background-color:#bedce8; color:#417794; border:3px solid #5d9cbd; }
#shaders { cursor:pointer; background-color:#e2c3f5; color:#a864d2; border:3px solid #a864d2; }
#audio { cursor:pointer; background-color:#ebddae; color:#8c7539; border:3px solid #d3b157; }

.core:hover { background-color:#e1e1e1; color:#5c5a5a; border:4px solid #898888; }
.shapes:hover { background-color:#f0d6d6; color:#c55757; border:4px solid #e66666; }
.textures:hover { background-color:#c8eabf; color:#60815a; border:4px solid #75a06d; }
.text:hover { background-color:#bef0dd; color:#377764; border:4px solid #52b296; }
.models:hover { background-color:#bedce8; color:#417794; border:4px solid #5d9cbd; }
.audio:hover { background-color:#ebddae; color:#8c7539; border:4px solid #d3b157; }

.fcore { border: 1px solid #898888; margin-left: 12px; }
.fshapes { border: 1px solid #e66666; margin-left: 12px; }
.ftextures { border: 1px solid #75a06d; margin-left: 12px; }
.ftext { border: 1px solid #52b296; margin-left: 12px; }
.fmodels { border: 1px solid #5d9cbd; margin-left: 12px; }
.fshaders { border: 1px solid #a864d2; margin-left: 12px; }
.faudio { border: 1px solid #d3b157; margin-left: 12px; }

.fcore p { color:#5c5a5a!important; }
.fshapes p { color:#c55757!important; }
.ftextures p { color:#60815a!important; }
.ftext p { color:#377764!important; }
.fmodels p { color:#417794!important; }
.fshaders p { color:#a864d2!important; }
.faudio p { color:#8c7539!important; }

#container .fcore a img, #container .fcore a { border: none; overflow: hidden; float: left; background-color: #e1e1e1; opacity: 1; }
#container .fcore a:hover { border: 10px solid #898888; }
#container .fcore a:hover img { margin: -10px; opacity: 0.4; }

#container .fshapes a img, #container .fshapes a { border: none; overflow: hidden; float: left; background-color: #f0d6d6; opacity: 1; }
#container .fshapes a:hover { border: 10px solid #e66666; }
#container .fshapes a:hover img { margin: -10px; opacity: 0.3; }

#container .ftextures a img, #container .ftextures a { border: none; overflow: hidden; float: left; background-color: #c8eabf; opacity: 1; }
#container .ftextures a:hover { border: 10px solid #75a06d; }
#container .ftextures a:hover img { margin: -10px; opacity: 0.3; }

#container .ftext a img, #container .ftext a { border: none; overflow: hidden; float: left; background-color: #bef0dd; opacity: 1; }
#container .ftext a:hover { border: 10px solid #52b296; }
#container .ftext a:hover img { margin: -10px; opacity: 0.3; }

#container .fmodels a img, #container .fmodels a { border: none; overflow: hidden; float: left; background-color: #bedce8; opacity: 1; }
#container .fmodels a:hover { border: 10px solid #5d9cbd; }
#container .fmodels a:hover img { margin: -10px; opacity: 0.3; }

#container .fshaders a img, #container .fshaders a { border: none; overflow: hidden; float: left; background-color: #e0c6f1; opacity: 1; }
#container .fshaders a:hover { border: 10px solid #a864d2; }
#container .fshaders a:hover img { margin: -10px; opacity: 0.3; }

#container .faudio a img, #container .faudio a { border: none; overflow: hidden; float: left; background-color: #ebddae; opacity: 1; }
#container .faudio a:hover { border: 10px solid #d3b157; }
#container .faudio a:hover img { margin: -10px; opacity: 0.3; }

#container .extext { position:absolute; top:140px; width:320px; text-align: center; display: none; }